

body {background-color: black;}
h1 {
    color: White;
    font-family: verdana;
    font-size: 185%;
    opacity: 0.7;
}

h3 {
    color: White;
    font-family: verdana;
    font-size: 100%;
        opacity: 0.7;
}

h4 {
    color: White;
    font-family: verdana;
    font-size: 100%;
        opacity: 0.7;
}
h5 {
    color: White;
    font-family: verdana;
    font-size: 100%;
        opacity: 0.7;
}

p {
    color: Light grey;   
}

article {
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em; color: White;
 opacity: 0.7;

}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
opacity: 0.7;
}
